* {
    margin: 0;
    padding: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
body {
    background-image: linear-gradient(to right, rgb(179, 65, 255),rgb(0, 199, 33));
    align-items: center;

}
header {
    text-align: center;
    margin: 20px;
    
}

main{
    display: flex;
    justify-content: center;
}

section {
    margin: 100px;
    display: flex;
    display: block;
    text-align: center;
    line-height: 300%;
    border: 2px solid black;
    border-radius: 15px;
    width: 550px;
    background-image: linear-gradient(to left, rgb(179, 65, 255),rgb(0, 199, 33));
}

button {
    font-size: 30px;
    margin: 5px;
    padding: 5px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

#quizStarter {
    font-size: 30px;
    margin: 10px;
    padding: 10px;
    border-radius: 50%;
    width: 200px;
    height: 200px;
  
}

aside button {
    border-radius: 15px;
    width: 130px;
}

aside {
    display: flex;
}

#questionBox{

}

.time {

}

#answerBox {

}

#answerBox1 {
    
}

#answerBox2 {
    
}

#answerBox3 {
    
}

.answer {

}

#yourScore {

}

#initials {

}

#initialsBox {

}

.endGameInfo {
}

#submitInitials {

}

#scoreTable{

}

#scoreTableTitle{

}